.icon {
  fill: currentColor;

  &--after {
    margin-left: 10px;
  }

  .input__field:focus + & {
    color: var(--accent-color);
  }
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  transition: color 250ms var(--typical-timing-function);
}

.icon-checked {
  fill: transparent;
  transition: fill 250ms var(--typical-timing-function);

  .policy__checkbox-original:checked + .policy__custom-chechbox & {
    fill: var(--bcg-color);
  }
}
